NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Virgülle ayrılmış admin e-posta allowlist'i.
# Örnek: admin@sukut.app,editor@sukut.app
NEXT_PUBLIC_ADMIN_ALLOWED_EMAILS=
